body {
  margin: 0;
  background-color: #1f2a37;
}

.container {
  margin: 100px 0 50px 100px;
}

#info-container {
  font-family: "Karla", sans-serif;
  color: #fcfbf9;
}

#input-container, #result-container {
  margin: 40px 0 40px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 600px;
  
}

#title-text {
  font-weight: 800;
  font-size: 40px;
  margin: 0 0 20px 0;
  line-height: 35px;
}

#slogan-text {
  font-weight: 200;
  margin: 0 0 0 0;
}

#text-highlight {
  color: #4ede87;
}

.generated-password {
  background-color: #263549;
  width: 40%;
  padding: 10px;
  border-radius: 10px;
}

.input-btn {
  background-color: #12bd85;
  border: none;
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
  color: #fcfbf9;
  font-family: "Karla", sans-serif;
  font-size: 15px;
  font-weight: bold;
}
.input-btn:hover {
  background-color: #0e8e64;
  cursor: pointer;
}

.separator {
  width: 90%;
  border: 1px solid #263649;
}